@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
}

.main-container {
  padding: 20px;
}

.wiki-search-header {
  border: 1px solid #d5cdcd;
  padding: 30px 20px;
  background-color: #ffffff;
  margin-bottom: 40px;
  text-align: center;
}

.wiki-logo {
  margin-bottom: 30px;
  width: 150px;
}

.search-input {
  width: 80%;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #d5cdcd;
  border-radius: 3px;
}

.spinner {
  margin-top: 20px;
}

.d-none {
  display: none;
}

.search-results {
  padding-left: 20px;
}

.result-item {
  margin-bottom: 20px;
}

.result-title {
  font-size: 22px;
  color: #1a0dab;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
}

.result-url {
  color: #006621;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.link-description {
  color: #444444;
  font-size: 15px;
}
