.heding{
 color :aqua;
}
.fine{
    border-color: black;
    background-color: azure;
    padding: 20px;
    margin: 30px;
    background: scroll;
    border-radius: 7cm;
    border-bottom: 2cm;
}
.bg{
    background-color: greenyellow;
    height: 100vh;
    display: flex;
}
.head{
    text-align: center;
    color: blue;
    font-size: 25px;
    font-weight: bold;
    border-radius: 12px;
    text-decoration: line-through;
    font-style: italic;
}