
.a{
    height: 300px;
    width: 200px;
    background-color: aqua;
}
.b{
    height: 300px;
    width: 200px;
    background-color: aqua;
}
.c {
    
    height: 300px;
    width: 200px;
    background-color: aqua;
}
.d {
   
    height: 300px;
    width: 200px;
    background-color: aqua;
}
.e{
    
    height: 300px;
    width: 200px;
    background-color: aqua;
}https://st.depositphotos.com/2001755/3622/i/450/depositphotos_36220949-stock-photo-beautiful-landscape.jpg